<div class="chat_message_cont">
  <div class="message_header">
    <div class="left_col">
      <div>
        <img src="assets/user-default-icon.png" alt="" />
      </div>
      <div>
        <h2>Monesy Osipov</h2>
        <span></span>
      </div>
    </div>
    <div class="right_col">
      <i class="fa-solid fa-video"></i>
      <i class="fa-solid fa-gears"></i>
    </div>
  </div>
  <div class="message_box"></div>
  <div class="message_inputs">
    <input type="text" placeholder="type something" />
    <div class="buttons">
      <i class="fa-solid fa-paperclip"></i>
      <i class="fa-regular fa-face-smile-beam"></i>
      <i class="fa-solid fa-paper-plane"></i>
    </div>
  </div>
</div>
