<div class="chat_message_cont">
  <div class="message_header">
    <div *ngIf="friendInfo.length > 0" class="left_col">
      <div class="img_box">
        <img [src]="friendInfo[0]?.img" alt="" />
      </div>
      <div class="friend_info_box">
        <h2>{{ friendInfo[0]?.name }}</h2>
        <div>
          @if(friendInfo[0]?.status){
          <span class="online"></span>
          <p>online</p>
          }@else {
          <span class="offline"></span>
          <p>offline</p>
          }
        </div>
      </div>
    </div>
    <div class="right_col">
      <i class="fa-solid fa-video"></i>
      <i class="fa-solid fa-gears"></i>
    </div>
  </div>
  <div class="message_box">
    <div class="friend_message">
      <div class="message">
        <h4>Monsesy Osipov</h4>
        <div>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius
            dignissimos atque minus repellat nesciunt sapiente architecto.
            Aspernatur sapiente iste, doloremque alias, laudantium labore,
            quibusdam eos quod harum voluptatum officiis est?
          </p>
          <strong>14:44</strong>
        </div>
      </div>
    </div>
    <div class="user_message">
      <div class="message">
        <h4>zzz077</h4>
        <div>
          <p>Yea, Ilia sure. premier?</p>
          <strong>14:46</strong>
        </div>
      </div>
    </div>
    <div class="friend_message">
      <div class="message">
        <h4>Monsesy Osipov</h4>
        <div>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius
            dignissimos atque minus repellat nesciunt sapiente architecto.
            Aspernatur sapiente iste, doloremque alias, laudantium labore,
            quibusdam eos quod harum voluptatum officiis est?
          </p>
          <strong>14:44</strong>
        </div>
      </div>
    </div>
    <div class="friend_message">
      <div class="message">
        <h4>Monsesy Osipov</h4>
        <div>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius
            dignissimos atque minus repellat nesciunt sapiente architecto.
            Aspernatur sapiente iste, doloremque alias, laudantium labore,
            quibusdam eos quod harum voluptatum officiis est?
          </p>
          <strong>14:44</strong>
        </div>
      </div>
    </div>
    <div class="user_message">
      <div class="message">
        <h4>zzz077</h4>
        <div>
          <p>Yea, Ilia sure. premier?</p>
          <strong>14:46</strong>
        </div>
      </div>
    </div>
    <div class="friend_message">
      <div class="message">
        <h4>Monsesy Osipov</h4>
        <div>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius
            dignissimos atque minus repellat nesciunt sapiente architecto.
            Aspernatur sapiente iste, doloremque alias, laudantium labore,
            quibusdam eos quod harum voluptatum officiis est?
          </p>
          <strong>14:44</strong>
        </div>
      </div>
    </div>
    <div class="user_message">
      <div class="message">
        <h4>zzz077</h4>
        <div>
          <p>Yea, Ilia sure. premier?</p>
          <strong>14:46</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="message_inputs">
    <div class="left_col">
      <input type="text" placeholder="type something" />
      <div>
        <i class="fa-solid fa-paperclip"></i>
        <i class="fa-regular fa-face-smile-beam"></i>
      </div>
    </div>
    <div class="right_col">
      <i class="fa-solid fa-paper-plane"></i>
    </div>
  </div>
</div>
