<div class="chat_message_cont">
  <div class="message_header">
    <div *ngIf="friendInfo.length > 0" class="left_col">
      <div class="img_box">
        <img [src]="friendInfo[0]?.img" alt="" />
      </div>
      <div class="friend_info_box">
        <h2>{{ friendInfo[0]?.name }}</h2>
        <div>
          @if(friendInfo[0]?.status){
          <span class="online"></span>
          <p>online</p>
          }@else {
          <span class="offline"></span>
          <p>offline</p>
          }
        </div>
      </div>
    </div>
    <div class="right_col">
      <i class="fa-solid fa-video"></i>
      <i class="fa-solid fa-gears"></i>
    </div>
  </div>
  <div class="message_box">
    @if (messagesArray.userMessage) {
    <div *ngFor="let message of messagesArray.userMessage" class="user_message">
      @if (message.status==='sent') {
      <div class="message">
        <h4>{{ message.name }}</h4>
        <div class="message_info">
          <p>
            {{ message.message }}
          </p>
          <div class="time_status">
            <strong>{{ message.time | date : "HH:mm" }}</strong>
            <strong style="color: rgba(54, 170, 54, 0.811)">{{
              message.status
            }}</strong>
          </div>
        </div>
      </div>
      }@else{
      <div style="opacity: 0.7" class="pending_message message">
        <h4>{{ message.name }}</h4>
        <div class="message_info">
          <p>{{ message.message }}</p>
          <div class="time_status" style="justify-content: end">
            <strong style="color: #962996; font-size: 0.75rem">{{
              message.status
            }}</strong>
          </div>
        </div>
      </div>
      }
    </div>
    } @if (messagesArray.friendMessage) {
    <div
      *ngFor="let message of messagesArray.friendMessage"
      class="friend_message"
    >
      @if (message.status==='sent') {
      <div class="message">
        <h4>{{ message.name }}</h4>
        <div class="message_info">
          <p>
            {{ message.message }}
          </p>
          <div class="time_status">
            <strong>{{ message.time | date : "HH:mm" }}</strong>
            <strong style="color: rgba(54, 170, 54, 0.811)">{{
              message.status
            }}</strong>
          </div>
        </div>
      </div>
      }@else{
      <div style="opacity: 0.7" class="pending_message message">
        <h4>{{ message.name }}</h4>
        <div class="message_info">
          <p>{{ message.message }}</p>

          <div class="time_status" style="justify-content: end">
            <strong style="color: #962996; font-size: 0.75rem">{{
              message.status
            }}</strong>
          </div>
        </div>
      </div>
      }
    </div>
    }
  </div>
  <div class="message_inputs">
    <div class="left_col">
      <input
        [(ngModel)]="messageText"
        type="text"
        placeholder="type something"
      />
      <div>
        <button>
          <i class="fa-solid fa-paperclip"></i>
        </button>
        <button>
          <i class="fa-regular fa-face-smile-beam"></i>
        </button>
      </div>
    </div>
    <div class="right_col">
      <button
        [disabled]="messageText === ''"
        (click)="sendMessageClick(messageText)"
      >
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>
