@if(friendInfo&& friendInfo.length>0 ){

<div class="frined_card_cont">
  <div class="friend_img">
    <img [src]="friendInfo[0]?.img" alt="" />
  </div>
  <div class="friend_info">
    <div class="header_info">
      <h4>
        {{
          friendInfo[0]?.name?.length! > 10
            ? friendInfo[0]?.name?.slice(0, 10) + "..."
            : friendInfo[0]?.name
        }}
      </h4>
      @if(friendInfo[0]?.status){
      <span class="online"></span>
      }@else{
      <span class="offline"></span>
      }
    </div>
    <div class="message_info">
      <p>hey, wanna play cs? ...</p>
      <strong>14:44</strong>
    </div>
  </div>
</div>
}
