.frined_card_cont {
  display: flex;
  align-items: center;
  background-color: #d0cdcdec;
  border-radius: 0.125rem;
  padding: 0 0.5rem;
  gap: 0.25rem;
  height: 55px;
  cursor: pointer;
  transition: all 0.2s;
}
.frined_card_cont:hover {
  background-color: #808080;
}
.frined_card_cont .friend_img {
  border-radius: 5rem;
  overflow: hidden;
  width: 36px;
  height: 36px;
}
.frined_card_cont .friend_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.frined_card_cont .friend_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 83%;
}
.frined_card_cont .friend_info .header_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.frined_card_cont .friend_info .header_info h4 {
  color: var(--font-color);
  font-size: 0.875rem;
}
.frined_card_cont .friend_info .header_info span {
  width: 10px;
  height: 10px;
  border-radius: 5rem;
}
.frined_card_cont .friend_info .header_info span.online {
  background-color: var(--online-color);
}
.frined_card_cont .friend_info .header_info .offline {
  background-color: var(--offline-color);
}
.frined_card_cont .friend_info .message_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-color);
}
.frined_card_cont .friend_info .message_info p {
  text-align: left;
  width: 100%;
  font-size: 0.75rem;
}
.frined_card_cont .friend_info .message_info strong {
  color: var(--font-color);
  text-align: right;
  font-size: 0.75rem;
  font-weight: 600;
}
.friend_card_forChatBox {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  transition: all 0.2s;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.25rem 0.5rem;
}
.friend_card_forChatBox:hover {
  background-color: var(--bg-color);
}

.friend_card_forChatBox:hover p {
  color: var(--font-color);
}
.friend_card_forChatBox div {
  width: 30px;
  height: 30px;
  border-radius: 5rem;
  overflow: hidden;
}
.friend_card_forChatBox div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.friend_card_forChatBox p {
  font-size: 1rem;
  color: var(--font-light-color);
}
