<div class="chat_contact_cont">
  <div class="contact_friend_box">
    <app-friend-card
      (click)="friendCardClick(friendid)"
      *ngFor="let friendid of userFriends"
      [friendID]="friendid"
      [fromWhereIscalled]="'contactBox'"
    ></app-friend-card>
  </div>
  <button (click)="createChatClick('opened')" class="contact_createChat_btn">
    <i class="fa-solid fa-circle-plus"></i>
    <p>create chat</p>
  </button>
</div>
<app-create-chat-bar
  *ngIf="iscreateChatOpened"
  [userFriendsId]="userFriends"
  (isClosedComponent)="createChatClick('closed')"
  [isOpenedComponent]="iscreateChatOpened"
></app-create-chat-bar>
