.chat_contact_cont {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/*========================*/
/*========================*/
/*=====CONTACT_SEARCH=====*/
/*========================*/
/*========================*/
.contact_search {
  border-radius: 0;
  height: 8%;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
  background-color: var(--font-color);
}
.contact_search input {
  border: 0;
  background-color: #f0f8ff00;
  width: 80%;
  outline: none;
  padding: 0.25rem;
  font-size: 1rem;
  color: var(--font-light-color);
}
.contact_search input::placeholder {
  color: var(--font-light-color);
}
.contact_search i {
  font-size: 0.875rem;
  color: var(--font-light-color);
  cursor: pointer;
  transition: all 0.2s;
}
.contact_search i:hover {
  color: #808080;
}

/*========================*/
/*========================*/
/*===CONTACT_FRIEND_BOX===*/
/*========================*/
/*========================*/
.contact_friend_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  overflow-y: auto;
  padding: 0.5rem 0.25rem;
}
/*========================*/
/*========================*/
/*======CONTACT_BTN=======*/
/*========================*/
/*========================*/
.contact_createChat_btn {
  margin: 0.25rem;
  height: 8%;
  padding: 0.75rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  background-color: var(--font-color);
  color: var(--font-light-color);
  font-size: 1.125rem;
  transition: all 0.2s;
}
.contact_createChat_btn:hover {
  background-color: var(--decoration-color);
}
.contact_createChat_btn p {
  color: var(--font-light-color);
}
/*============================*/
/*============================*/
/*======SKELETON LOADER=======*/
/*============================*/
/*============================*/

:host ::ng-deep .loader_class ngx-skeleton-loader .skeleton-loader {
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #d0cdcdec;
}
