<div class="chatBar_cont">
  <div class="chatBar_box">
    <div class="chatBar_header">
      <h3>Create New Chat</h3>
    </div>
    <div class="chatBar_content">
      <input class="ChatName_input" type="input" placeholder="Chat Name" />
      <div class="friends_list">
        <input
          class="FriendSearch_input"
          type="input"
          placeholder="Search friend"
        />
        <div class="tags_box">
          <span class="tags">
            <p>Vaska</p>
            <i class="fa-solid fa-xmark"></i>
          </span>
          <span class="tags">
            <p>vladislav</p>
            <i class="fa-solid fa-xmark"></i>
          </span>
          <span class="tags">
            <p>guja</p>
            <i class="fa-solid fa-xmark"></i>
          </span>
          <span class="tags">
            <p>tengo</p>
            <i class="fa-solid fa-xmark"></i>
          </span>
          <span class="tags">
            <p>davita</p>
            <i class="fa-solid fa-xmark"></i>
          </span>
          <span class="tags">
            <p>name</p>
            <i class="fa-solid fa-xmark"></i>
          </span>
          <span class="tags">
            <p>davita</p>
            <i class="fa-solid fa-xmark"></i>
          </span>
          <span class="tags">
            <p>name</p>
            <i class="fa-solid fa-xmark"></i>
          </span>
          <span class="tags">
            <p>davita</p>
            <i class="fa-solid fa-xmark"></i>
          </span>
          <span class="tags">
            <p>name</p>
            <i class="fa-solid fa-xmark"></i>
          </span>
        </div>
        <ul>
          <li>
            <div>
              <img src="assets/user-default-icon.png" alt="#" />
            </div>
            <p>name</p>
          </li>
          <li>
            <div>
              <img src="assets/user-default-icon.png" alt="#" />
            </div>
            <p>name</p>
          </li>
          <li>
            <div>
              <img src="assets/user-default-icon.png" alt="#" />
            </div>
            <p>name</p>
          </li>
          <li>
            <div>
              <img src="assets/user-default-icon.png" alt="#" />
            </div>
            <p>name</p>
          </li>
          <li>
            <div>
              <img src="assets/user-default-icon.png" alt="#" />
            </div>
            <p>name</p>
          </li>
          <li>
            <div>
              <img src="assets/user-default-icon.png" alt="#" />
            </div>
            <p>name</p>
          </li>
          <li>
            <div>
              <img src="assets/user-default-icon.png" alt="#" />
            </div>
            <p>name</p>
          </li>
          <li>
            <div>
              <img src="assets/user-default-icon.png" alt="#" />
            </div>
            <p>name</p>
          </li>
          <li>
            <div>
              <img src="assets/user-default-icon.png" alt="#" />
            </div>
            <p>name</p>
          </li>
          <li>
            <div>
              <img src="assets/user-default-icon.png" alt="#" />
            </div>
            <p>name</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="chatBar_buttons">
      <button (click)="closeChat()" class="Cancel_btn"><p>Cancel</p></button>
      <button class="Create_btn"><p>Create</p></button>
    </div>
  </div>
</div>
