<div class="chatBar_cont">
  <div class="chatBar_box">
    <div class="chatBar_header">
      <h3>Create New Chat</h3>
    </div>
    <div class="chatBar_content">
      <input
        class="ChatName_input"
        type="input"
        placeholder="Chat Name"
        [(ngModel)]="chatName"
      />
      <div class="friends_list">
        <input
          class="FriendSearch_input"
          type="input"
          placeholder="Search friend"
          #inpt
          (input)="searchFriendInput(inpt.value)"
        />
        <div class="tags_box">
          <span
            class="tags"
            *ngFor="let friend of friendInfo"
            [ngStyle]="{ display: friend.checked ? 'flex' : 'none' }"
          >
            <p>{{ friend.name }}</p>
            <i
              (click)="selectedFriend(friend.id)"
              class="fa-solid fa-xmark"
            ></i>
          </span>
        </div>
        <ul>
          @if (friendInfo.length>0) {
          <li
            [ngClass]="{ active: friend.checked }"
            (click)="selectedFriend(friend.id)"
            style="cursor: pointer"
            *ngFor="let friend of friendInfo"
          >
            <div>
              <img [src]="friend?.img" alt="#" />
            </div>
            <p>{{ friend?.name }}</p>
          </li>
          }@else {
          <p class="noFriend_p">No friend yet</p>
          }
        </ul>
      </div>
    </div>
    <div class="chatBar_buttons">
      <button (click)="closeChat()" class="Cancel_btn">
        <p>Cancel</p>
      </button>
      <button
        [disabled]="chatName === undefined || chatName === ''"
        class="Create_btn"
        (click)="createChatClick()"
      >
        <p>Create</p>
      </button>
    </div>
  </div>
</div>
