.chat_navbar_cont {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}
.chat_navbar_cont h1 {
  font-size: 1.5rem;
  color: var(--font-color);
  display: flex;
  align-items: center;
  gap: 0.125rem;
}
.chat_navbar_cont h1 span {
  font-size: 1.55rem;
  background-color: var(--decoration-color);
  width: 28px;
  height: 28px;
  color: var(--font-light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  transform: rotateZ(10deg);
}
.chat_navbar_cont .chat_navbar_right_box {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.chat_navbar_cont .chat_navbar_right_box button {
  width: 30px;
  height: 30px;
  display: flex;
  font-size: 0.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  color: var(--font-light-color);
  background-color: var(--font-color);
  position: relative;
  transition: all 0.2s;
}
.chat_navbar_cont .chat_navbar_right_box button:hover {
  background-color: var(--decoration-color);
}
.chat_navbar_cont .chat_navbar_right_box button .user_request_span {
  position: absolute;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--online-color);
  top: -1px;
  right: -1px;
}
.chat_navbar_cont .chat_navbar_right_box .user_info_box {
  display: flex;
  gap: 0.125rem;
  align-items: center;
  position: relative;
}
.chat_navbar_cont .chat_navbar_right_box .user_info_box .logout_div {
  position: absolute;
  bottom: 20px;
  left: 20%;
  padding: 0.4rem 0.25rem;
  border-radius: 0.25rem;
  background-color: #292a2a;
  color: var(--font-light-color);
  font-size: 0.75rem;
  z-index: 10;
  cursor: pointer;
  transition: all 0.2s;
}
.chat_navbar_cont .chat_navbar_right_box .user_info_box .logout_div:hover {
  background-color: #505151;
}
.chat_navbar_cont .chat_navbar_right_box .user_info_box h3 {
  font-size: 1.125rem;
  color: var(--font-color);
}

.chat_navbar_cont .chat_navbar_right_box .user_info_box .user_img {
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.2s;
}
.chat_navbar_cont .chat_navbar_right_box .user_info_box .user_img:hover {
  filter: brightness(0.6);
}
.chat_navbar_cont .chat_navbar_right_box .user_info_box .user_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.friendAdd_box {
  position: absolute;
  right: 10%;
  bottom: -70px;
  background-color: var(--font-color);
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 200px;
  padding: 0.5rem 0.35rem;
  border-radius: 0.25rem;
  justify-content: space-between;
}
.friendAdd_box .requestButtons_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #302f2fe6;
  gap: 0.125rem;
}
.friendAdd_box .requestButtons_box button {
  width: 100%;
  background-color: #302f2fe6;
  color: var(--font-light-color);
  padding: 0.25rem;
  transition: all 0.2s;
  font-size: 0.75rem;
}
.friendAdd_box .requestButtons_box button.add_btn_click {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.friendAdd_box .requestButtons_box button.active {
  background-color: #3f3e3eca;
}
.friendAdd_box .requestButtons_box button.accept_btn_click {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.friendAdd_box .requestButtons_box button:hover {
  background-color: #3f3e3eca;
}
.friendAdd_box .add_input_box {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0 0;
  text-align: left;
  gap: 0.25rem;
}
.friendAdd_box .add_input_box.active {
  display: flex;
}
.friendAdd_box .add_input_box .input_box {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}
.friendAdd_box .add_input_box .input_box input {
  background-color: #302f2fe6;
  border: 0;
  padding: 0.35rem;
  border-radius: 0.125rem;
  color: var(--font-light-color);
  border-radius: 0;
  width: 76%;
  outline: none;
  height: 25px;
  font-size: 0.75rem;
}
.friendAdd_box .add_input_box .input_box button {
  width: 24%;
  height: 25px;
  background-color: #302f2fe6;
  padding: 0.35rem;
  color: var(--font-light-color);
  transition: all 0.2s;
  font-size: 0.75rem;
  color: var(--font-light-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.friendAdd_box .add_input_box .input_box button:disabled {
  background-color: #302f2fe6;
}
.friendAdd_box .add_input_box .input_box button:disabled:hover {
  background-color: #302f2fe6;
}
.friendAdd_box .add_input_box .input_box button .loader {
  width: 14px;
  height: 14px;
}
.friendAdd_box .add_input_box .input_box button:hover {
  background-color: #3f3e3eca;
}
.friendAdd_box .add_input_box .input_box input::placeholder {
  color: var(--font-light-color);
}
.friendAdd_box .add_input_box p {
  font-size: 0.75rem;
  padding: 0 0.125rem;
}
.friendAdd_box .add_input_box p span {
  color: #ffffff85;
  font-style: oblique;
  font-weight: 300;
}
.friendAdd_box .add_input_box p.success {
  color: #3fa23fde;
}
.friendAdd_box .add_input_box p.error {
  display: none;
  color: #ca3c3ce5;
}
.friendAdd_box .friend_request_box {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0 0;
  text-align: left;
  gap: 0.25rem;
  overflow: hidden;
}
.friendAdd_box .friend_request_box.active {
  display: flex;
}
.friendAdd_box .friend_request_box .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #302f2fe6;
  border-radius: 0.125rem;
  padding: 0.25rem;
  transition: all 0.5s;
  opacity: 1;
}
.friendAdd_box .friend_request_box .user.active {
  transform: translateX(-500px);
  opacity: 0;
}

.friendAdd_box .friend_request_box .user .left_col {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.friendAdd_box .friend_request_box .user .left_col img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 5rem;
}
.friendAdd_box .friend_request_box .user .left_col span {
  color: var(--font-light-color);
  font-size: 0.75rem;
}
.friendAdd_box .friend_request_box .user .right_col {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}
.friendAdd_box .friend_request_box .user .right_col button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 5rem;
  color: var(--font-light-color);
}
.friendAdd_box .friend_request_box .user .right_col button:hover {
  background-color: #0e0d0d;
}
.friendAdd_box .friend_request_box .user .right_col button:nth-child(1) {
  color: #3fa23fde;
}
.friendAdd_box .friend_request_box .user .right_col button:nth-child(2) {
  color: #ca3c3ce5;
}
.friendAdd_box .friend_request_box .no_request_text {
  color: var(--font-light-color);
  text-align: center;
  font-size: 0.75rem;
}
/*============================*/
/*============================*/
/*======SKELETON LOADER=======*/
/*============================*/
/*============================*/

.loader_class {
  display: flex;
  gap: 0.125rem;
  align-items: center;
}
:host ::ng-deep .loader_class .imgSkeleton .skeleton-loader {
  width: 34px;
  height: 34px;
  border-radius: 5rem;
}
:host ::ng-deep .loader_class ngx-skeleton-loader .skeleton-loader {
  width: 100px;
  height: 27px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #d0cdcdec;
  background-color: var(--font-color);
  margin: 0;
}
